.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(83, 249, 83);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.actve){
    background-color: gray;
}