body{
    background-color: gray;
}
img{
    width: 250px;
    height: 250px;
    background-color: red;
    font-size: 13em;
    text-align: center;
    /* animation-name: slideLeft;
    animation-duration: 3s; */
    
    /* animation-name: colorChange;
    animation-duration: 1 s;*/
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.6,-0.49, 0, 2.18);
}
#box:hover{

}

@keyframes slideLeft{
    from{transform: translateX(50%);}
}
@keyframes slideRight{
    to{transform: translateX(300%);}
}
@keyframes slideUp{
    from{transform: translateY(300%);}
}

@keyframes rotate {
    25%{transform: rotateY(360deg);}
}
@keyframes grow{
    100%{transform: scale(2,2);}
}
@keyframes shrink{
    50%{transform: scale(0.5,0.5);}
}
@keyframes fadeIn{
    50%{opacity: 1;}
}
@keyframes colorChange{
    0%{background-color: rgb(28, 243, 28);}
    50%{background-color: rgb(243, 28, 207);}
    70%{background-color: rgb(28, 211, 243);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px rgb(25, 240, 215);}
}