.container{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    border: 10px solid black;
    height: 90vh;
    /* align-content: flex-start; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    /* align-content: space-around; */
    /* gap: 1em;  */
    /* column-gap: ; */
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1{
   background-color: rgb(238, 62, 62);
}

#box2{
   background-color: rgb(62, 238, 80);
   order: -1;
}

#box3{
   background-color: rgb(255, 62, 184);
   order: 1;
}

#box4{
   background-color: rgb(98, 51, 252);
}
