*{
    box-sizing: border-box;
}

.container{
    background-color: rgb(154, 79, 230);
    height: 100vh;
}

.box{
    border: 2px solid;
    padding: 25px;
    height: 300px;
    width: 300px;
    float: left;
    
    text-align: center;

    max-width: 50%;
    max-height: 50%;
}